{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature 7</title>
</head>
<body>
    <main>
        <div>
            <h1> My Lists </h1>
                <p>
                    <a href="{% url 'create_todo' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'create_todo_item' %}">Create a new item</a>
                </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th> Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos in todo_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todos.id %}">{{todos.name}}</a> </td>
                        <td>{{todos.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
</body>
</html>
