{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>

    <body>
        <header>
            <nav>
            </nav>
        </header>

        <main>
            <div>
                <h1> Update List </h1>
                <form method="post">
                    {% csrf_token %}
                    {{ item_form.as_p }}
                <button>Update</button>
              </form>
            </div>
        </main>
        {% endblock content %}
    </body>
</html>
