{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature 8</title>
</head>
<body>
    <main>
        <div>
            <h1> {{todo_items.name}} </h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_items.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete_todo' todo_items.id %}">Delete</a>
                </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos in todo_items.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todos.id %}">{{todos.task}}</a></td>
                        <td>{{todos.due_date|date:"F j Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
</body>
</html>
